<h1> This is a show page </h1>
<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<h5><%= @play.description %></h5>

<% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
        <%= link_to 'Back' , root_path, class:"btn btn-primary" %>
        <%= link_to 'Edit' , edit_play_path(@play), class:"btn btn-primary" %>
        <%= link_to 'Delete' , play_path(@play), method: :delete, data: { confirm: 'ARe you sure' }, class:"btn btn-danger" %>
    <% end %>
<% end %>