<h1> This is a show page </h1>
<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<h5><%= @play.description %></h5>

<%= link_to 'Back' , root_path %>
<%= link_to 'Edit' , edit_play_path(@play) %>
<%= link_to 'Delete' , play_path(@play), method: :delete, data: { confirm: 'ARe you sure' } %>